<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.ecom4.notice.dao.NoticeDAO">

<select id="getTotCnt" resultType="int">
	SELECT COUNT(noti_no)
	FROM noticet
</select>

<select id="getNoticeList" parameterType="ndto" resultType="ndto">
SELECT *FROM 
   (SELECT ROWNUM AS rr, A.* FROM
   (SELECT
      noti_no
      ,subject
      ,content
      ,readcount
      ,writer
      ,vdate
      ,regdate
      ,state
   FROM noticet
   WHERE state = 'A'
   <if test = "noti_no!=0">
   	AND noti_no = #{noti_no}
   </if>
   ORDER BY noti_no DESC) a)
</select>

<insert id="generateNotice" parameterType="ndto">
<selectKey keyProperty="noti_no" order="BEFORE" resultType="int">
	SELECT NVL(MAX(noti_no),0)+1 FROM noticet
</selectKey>
	INSERT INTO noticet
	(noti_no
	,subject
	,content
	,writer
	,vdate)
	VALUES
	(#{noti_no}
	,#{subject}
	,#{content}
	,#{writer }
	,#{vdate  })

</insert>

<select id="getNoticies" parameterType="ndto" resultType="ndto">
	SELECT noti_no
      ,subject
      ,content
      ,readcount
      ,writer
      ,vdate
      ,regdate
      ,state
   FROM noticet
   WHERE noti_no = #{noti_no}

</select>

</mapper>